/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap");
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block; }

body {
  line-height: 1; }

ol,
ul {
  list-style: none; }

blockquote,
q {
  quotes: none; }

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

*,
*:after,
*:before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

:root {
  --black-color: #181A1B;
  --gray-color: #9C9FA1;
  --gray-50: #9C9FA11A;
  --gray-100: #EFF2F4;
  --gray-200: #575A5B;
  --blue-color: #0098EA;
  --blue-50: #26A9F11A;
  --green-color: #00B8A1;
  --green-50: #00B8A11A;
  --red-color: #ED7477;
  --red-50: #ED74771A;
  --yellow-color: #E18528;
  --yellow-50: #E185281A; }

html {
  font-family: "Lexend", sans-serif; }

header .navbar {
  padding: 30px 0; }
  @media only screen and (max-width: 1200px) {
    header .navbar {
      padding-block: 15px; } }
  header .navbar-nav {
    gap: 5px; }
    header .navbar-nav .nav-item .nav-link {
      font-size: 14px;
      font-weight: 600;
      border-radius: 4px;
      padding: 12px 16px;
      color: var(--black-color); }
      header .navbar-nav .nav-item .nav-link:hover, header .navbar-nav .nav-item .nav-link:focus {
        background: var(--gray-50);
        color: var(--blue-color); }
      header .navbar-nav .nav-item .nav-link.select-wallet {
        background: var(--blue-color);
        color: #fff;
        border: 1px solid var(--blue-color); }
        header .navbar-nav .nav-item .nav-link.select-wallet:hover {
          background: var(--white);
          color: var(--blue-color); }
  header .navbar-toggler {
    width: 40px;
    height: 40px;
    background-color: var(--blue-color) !important;
    color: #fff !important; }
    header .navbar-toggler:focus, header .navbar-toggler:active, header .navbar-toggler:hover {
      -webkit-box-shadow: none;
      box-shadow: none;
      outline: none; }
    header .navbar-toggler[aria-expanded="true"] i.fa-bars:before {
      content: "\f00d"; }

.footer {
  margin-top: 100px;
  background-color: var(--blue-color);
  padding-block: 50px; }
  .footer-copyright p {
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    color: var(--gray-100); }
  .footer-socials {
    gap: 20px; }
    .footer-socials a {
      color: var(--gray-100);
      font-size: 24px; }

@media only screen and (min-width: 1200px) {
  .container-fluid {
    padding-inline: 40px; } }

body {
  color: var(--black-color); }

.gap-10 {
  gap: 10px; }

.gap-20 {
  gap: 20px; }

.gap-30 {
  gap: 30px; }

.home .home-banner {
  background-image: url("../images/background-banner.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat; }
  .home .home-banner__content h3 {
    font-size: 64px;
    font-weight: 600;
    color: var(--black-color);
    line-height: 1; }
  .home .home-banner__content h1 {
    color: #fff;
    font-size: 80px;
    font-weight: 600;
    line-height: 1.2;
    margin-block: 20px; }
  .home .home-banner__content p {
    color: #fff;
    font-size: 12px;
    line-height: 1.3; }
  @media only screen and (max-width: 1200px) {
    .home .home-banner__content {
      padding: 80px 15px; }
      .home .home-banner__content h3 {
        font-size: 40px; }
      .home .home-banner__content h1 {
        font-size: 50px; } }
  .home .home-banner__search {
    margin-top: 20px;
    max-width: 320px; }
    .home .home-banner__search .input-group {
      background: #fff;
      padding: 5px; }
      .home .home-banner__search .input-group .form-control {
        background: inherit;
        border: none;
        -webkit-box-shadow: none;
        box-shadow: none;
        outline: none;
        font-size: 14px;
        font-weight: 600;
        color: var(--black-color); }
        .home .home-banner__search .input-group .form-control::-webkit-input-placeholder {
          color: var(--black-color); }
        .home .home-banner__search .input-group .form-control::-moz-placeholder {
          color: var(--black-color); }
        .home .home-banner__search .input-group .form-control::-ms-input-placeholder {
          color: var(--black-color); }
        .home .home-banner__search .input-group .form-control::placeholder {
          color: var(--black-color); }
      .home .home-banner__search .input-group-text {
        border: none;
        background: #fff;
        color: var(--black-color); }
  .home .home-banner-img img {
    -webkit-animation: up-down 3s infinite ease;
    animation: up-down 3s infinite ease; }

@-webkit-keyframes up-down {
  0% {
    -webkit-transform: translateY(0) rotateZ(0deg);
    transform: translateY(0) rotateZ(0deg); }
  50% {
    -webkit-transform: translateY(20px) rotateZ(-5deg);
    transform: translateY(20px) rotateZ(-5deg); }
  100% {
    -webkit-transform: translateY(0) rotateZ(0deg);
    transform: translateY(0) rotateZ(0deg); } }

@keyframes up-down {
  0% {
    -webkit-transform: translateY(0) rotateZ(0deg);
    transform: translateY(0) rotateZ(0deg); }
  50% {
    -webkit-transform: translateY(20px) rotateZ(-5deg);
    transform: translateY(20px) rotateZ(-5deg); }
  100% {
    -webkit-transform: translateY(0) rotateZ(0deg);
    transform: translateY(0) rotateZ(0deg); } }

.home .home-project {
  margin-block: 50px; }
  .home .home-project__top {
    margin-bottom: 30px; }
    .home .home-project__top .title {
      font-size: 24px;
      line-height: 1.2;
      font-weight: 600; }
      .home .home-project__top .title span {
        color: var(--blue-color); }
    .home .home-project__top .filter .dropdown-toggle {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      gap: 10px;
      background-color: var(--gray-50);
      border-color: var(--gray-50);
      color: var(--blue-color);
      font-size: 14px;
      font-weight: 600; }
      .home .home-project__top .filter .dropdown-toggle::after {
        display: none; }
      .home .home-project__top .filter .dropdown-toggle[aria-expanded="true"] i.fa-caret-down {
        -webkit-transform: rotate(-180deg);
        transform: rotate(-180deg); }
      .home .home-project__top .filter .dropdown-toggle:hover, .home .home-project__top .filter .dropdown-toggle:focus, .home .home-project__top .filter .dropdown-toggle:active {
        -webkit-box-shadow: none;
        box-shadow: none; }
    .home .home-project__top .filter .dropdown-item {
      font-size: 12px;
      font-weight: 400;
      line-height: 16px;
      color: var(--gray-color);
      padding-block: 8px; }
      .home .home-project__top .filter .dropdown-item.success {
        color: var(--green-color); }
      .home .home-project__top .filter .dropdown-item.error {
        color: var(--red-color); }
      .home .home-project__top .filter .dropdown-item.warning {
        color: var(--yellow-color); }
      .home .home-project__top .filter .dropdown-item:active, .home .home-project__top .filter .dropdown-item:focus, .home .home-project__top .filter .dropdown-item:hover {
        background: var(--gray-50); }
        .home .home-project__top .filter .dropdown-item:active.success, .home .home-project__top .filter .dropdown-item:focus.success, .home .home-project__top .filter .dropdown-item:hover.success {
          background: var(--green-50); }
        .home .home-project__top .filter .dropdown-item:active.error, .home .home-project__top .filter .dropdown-item:focus.error, .home .home-project__top .filter .dropdown-item:hover.error {
          background: var(--red-50); }
        .home .home-project__top .filter .dropdown-item:active.yellow, .home .home-project__top .filter .dropdown-item:focus.yellow, .home .home-project__top .filter .dropdown-item:hover.yellow {
          background: var(--yellow-50); }
  .home .home-project__list .item-show-more {
    margin-bottom: 30px;
    display: none; }
  .home .home-project__list .project-item {
    border-radius: 4px;
    border: 1px solid var(--gray-50);
    background: var(--gray-50);
    padding: 16px; }
    .home .home-project__list .project-item__header {
      gap: 10px; }
      .home .home-project__list .project-item__header .logo {
        -ms-flex-negative: 0;
        flex-shrink: 0; }
      .home .home-project__list .project-item__header .content-header {
        width: 100%; }
        .home .home-project__list .project-item__header .content-header__title {
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-pack: justify;
          -ms-flex-pack: justify;
          justify-content: space-between;
          -webkit-box-align: center;
          -ms-flex-align: center;
          align-items: center;
          gap: 5px;
          margin-bottom: 10px; }
          .home .home-project__list .project-item__header .content-header__title a {
            font-size: 16px;
            font-weight: 600;
            color: var(--black-color);
            text-decoration: none; }
            .home .home-project__list .project-item__header .content-header__title a:hover {
              color: var(--blue-color);
              text-decoration: underline; }
          .home .home-project__list .project-item__header .content-header__title span.status {
            padding: 4px 8px;
            border-radius: 4px;
            font-size: 12px; }
            .home .home-project__list .project-item__header .content-header__title span.status.success {
              color: var(--green-color);
              background: var(--green-50); }
            .home .home-project__list .project-item__header .content-header__title span.status.error {
              color: var(--red-color);
              background: var(--red-50); }
        .home .home-project__list .project-item__header .content-header__tag {
          gap: 5px; }
          .home .home-project__list .project-item__header .content-header__tag span {
            border-radius: 4px;
            padding: 5px 8px;
            font-size: 12px;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
            gap: 3px; }
            .home .home-project__list .project-item__header .content-header__tag span.primary {
              color: var(--blue-color);
              background: var(--blue-50); }
            .home .home-project__list .project-item__header .content-header__tag span.success {
              color: var(--green-color);
              background: var(--green-50); }
            .home .home-project__list .project-item__header .content-header__tag span.warning {
              color: var(--yellow-color);
              background: var(--yellow-50); }
            .home .home-project__list .project-item__header .content-header__tag span.error {
              color: var(--red-color);
              background: var(--red-50); }
    .home .home-project__list .project-item__content {
      margin-block: 15px; }
      .home .home-project__list .project-item__content p {
        font-size: 12px;
        line-height: 1.2;
        color: var(--gray-200); }
    .home .home-project__list .project-item__footer .select-item .dropdown-toggle {
      background: var(--gray-50);
      color: var(--gray-200);
      font-size: 14px;
      font-weight: 600;
      padding: 12px 16px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      gap: 5px;
      -webkit-box-shadow: none;
      box-shadow: none; }
      .home .home-project__list .project-item__footer .select-item .dropdown-toggle i {
        font-size: 18px; }
      .home .home-project__list .project-item__footer .select-item .dropdown-toggle[aria-expanded="true"] {
        color: var(--blue-color); }
        .home .home-project__list .project-item__footer .select-item .dropdown-toggle[aria-expanded="true"] i.fa-caret-down {
          -webkit-transform: rotate(-180deg);
          transform: rotate(-180deg); }
      .home .home-project__list .project-item__footer .select-item .dropdown-toggle:hover {
        -webkit-box-shadow: none;
        box-shadow: none;
        color: var(--blue-color); }
      .home .home-project__list .project-item__footer .select-item .dropdown-toggle::after {
        display: none; }
    .home .home-project__list .project-item__footer .select-item .dropdown-menu {
      padding-inline: 10px; }
    .home .home-project__list .project-item__footer .select-item .dropdown-item {
      padding: 10px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      gap: 8px;
      color: var(--black-color); }
      .home .home-project__list .project-item__footer .select-item .dropdown-item:hover {
        color: var(--blue-color); }
      .home .home-project__list .project-item__footer .select-item .dropdown-item img {
        width: 25px;
        height: 25px;
        border-radius: 50%; }
    .home .home-project__list .project-item__footer a {
      color: var(--blue-color);
      font-size: 14px;
      font-weight: 600; }
      .home .home-project__list .project-item__footer a i {
        margin-left: 10px; }
  .home .home-project__showmore .btn {
    background: var(--blue-color);
    color: #fff; }
    .home .home-project__showmore .btn:hover {
      color: var(--blue-color);
      background: var(--white);
      border-color: var(--blue-color); }
    .home .home-project__showmore .btn:disabled {
      background: var(--gray-100);
      color: var(--black-color);
      border-color: var(--gray-100); }

.home .home-submit-project {
  position: fixed;
  bottom: 200px;
  right: 20px; }
  .home .home-submit-project .btn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    gap: 5px;
    padding: 12px 16px;
    background: var(--blue-color);
    color: var(--gray-100); }
    .home .home-submit-project .btn:hover {
      color: var(--blue-color);
      background: var(--white);
      border-color: var(--blue-color); }
      .home .home-submit-project .btn:hover img {
        -webkit-filter: brightness(0) saturate(100%) invert(52%) sepia(86%) saturate(1054%) hue-rotate(172deg) brightness(95%) contrast(98%);
        filter: brightness(0) saturate(100%) invert(52%) sepia(86%) saturate(1054%) hue-rotate(172deg) brightness(95%) contrast(98%); }

#projectItemModal .modal-dialog {
  max-width: 600px;
  width: 100%; }
  @media only screen and (max-width: 1200px) {
    #projectItemModal .modal-dialog {
      margin-top: 40px; } }

#projectItemModal .modal-content .close {
  all: unset;
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
  color: var(--black-color);
  width: 20px;
  height: 20px;
  font-size: 20px; }
  #projectItemModal .modal-content .close:hover {
    color: var(--blue-color); }

#projectItemModal .modal-content .item-title {
  color: var(--blue-color);
  font-size: 18px;
  font-weight: 600;
  line-height: 1.4;
  margin-bottom: 5px; }

#projectItemModal .modal-content .content-header__title {
  margin: 0; }

#projectItemModal .modal-content .content-header__tag {
  margin-block: 15px;
  gap: 5px; }
  #projectItemModal .modal-content .content-header__tag span {
    border-radius: 4px;
    padding: 5px 8px;
    font-size: 12px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    gap: 3px; }
    #projectItemModal .modal-content .content-header__tag span.primary {
      color: var(--blue-color);
      background: var(--blue-50); }
    #projectItemModal .modal-content .content-header__tag span.success {
      color: var(--green-color);
      background: var(--green-50); }
    #projectItemModal .modal-content .content-header__tag span.warning {
      color: var(--yellow-color);
      background: var(--yellow-50); }
    #projectItemModal .modal-content .content-header__tag span.error {
      color: var(--red-color);
      background: var(--red-50); }

#projectItemModal .modal-content .content-header__socials {
  margin-block: 15px; }
  #projectItemModal .modal-content .content-header__socials .link-item {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    background: var(--gray-100);
    font-size: 30px;
    color: var(--black-color);
    text-decoration: none; }
    #projectItemModal .modal-content .content-header__socials .link-item:hover {
      background: var(--blue-color);
      color: var(--white); }

#projectItemModal .modal-content .content-header__desc {
  margin-block: 15px; }
  #projectItemModal .modal-content .content-header__desc p {
    font-size: 16px;
    line-height: 1.2;
    color: var(--black-color); }

#projectItemModal .modal-content .content-header__status .status {
  border-radius: 4px;
  padding: 5px 8px;
  font-size: 12px;
  max-width: -webkit-max-content;
  max-width: -moz-max-content;
  max-width: max-content; }
  #projectItemModal .modal-content .content-header__status .status.primary {
    color: var(--blue-color);
    background: var(--blue-50); }
  #projectItemModal .modal-content .content-header__status .status.success {
    color: var(--green-color);
    background: var(--green-50); }
  #projectItemModal .modal-content .content-header__status .status.warning {
    color: var(--yellow-color);
    background: var(--yellow-50); }
  #projectItemModal .modal-content .content-header__status .status.error {
    color: var(--red-color);
    background: var(--red-50); }

#projectItemModal .modal-content .content-header__total {
  margin-block: 15px; }
  #projectItemModal .modal-content .content-header__total .item-title {
    margin-bottom: 0; }
  #projectItemModal .modal-content .content-header__total .total-result {
    font-weight: 700; }
